@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: hsl(30, 38%, 92%);


}

.attribution {

    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {

    min-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

   

}

img {
    border-radius: 13px 13px 0 0;
    max-width: 375px;
    height: auto;
    display: block;
}

.box1 {
    
    width: 375px;
}

.box2 {
    
    display: flex;
    flex-grow: 1;
    height: 60vh;
    flex-direction: column;
    justify-content: space-around;
    max-width: 375px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 15px 15px;
}

p {

    padding: 0 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 1.8;

}


h1 {
    font-family: 'Fraunces', sans-serif;
    padding: 0 20px;
}

.caption {
    padding-top: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 5px;
    line-height: normal;
}

.newprice {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
}

.oldprice {
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
    padding-left: 0;
}

.price {
    display: flex;
    align-items: center;
}

.box2 .price {
    align-self: flex-start;
}
button{
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat';
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 15px;
    border: none;
    width: 85%;
    margin:0 auto 14px auto;
}

.description{
    padding-right: 60px;
}